.delete :hover
{
    color:red !important;
}

.edit :hover
{
    color:blue !important;
}

.img-text
{
    width: 15%;
}

.img
{
    max-width:100%;
}

/* image upload css */
.file-upload {
    background-color: #ffffff;
    width: 100%;
  }
  
  .file-upload-btn {
    width: 100%;
    margin: 0;
    color: #fff;
    background: #808080;
    border: none;
    padding: 3px;
    border-radius: 4px;
    border-bottom: 4px solid #808080;
    transition: all .2s ease;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
    
  }
  
  .file-upload-btn:hover {
    background: #424040;
    color: #ffffff;
    transition: all .2s ease;
    cursor: pointer;
  }
  
  .file-upload-btn:active {
    border: 0;
    transition: all .2s ease;
  }
  
  .file-upload-content {
    display: none;
    text-align: center;
  }
  
  .file-upload-input {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    outline: none;
    opacity: 0;
    cursor: pointer;
  }
  
  .image-upload-wrap {
    
    border: 4px dashed #808080;
    height:200px;
    position: relative;
  }
  
  .image-dropping,
  .image-upload-wrap:hover {
    border: 4px dashed #424040;
  }
  
  .image-title-wrap {
    padding: 0 15px 15px 15px;
    color: #222;
  }
  
  .drag-text {
    text-align: center;
  }
  
  .drag-text h3 {
    font-weight: 100;
    text-transform: uppercase;
    color: grey;
  }
  
  .file-upload-image {
    max-height: 200px;
    max-width: 200px;
    margin: auto;
    padding: 20px;
  }
  
  .remove-image {
    width: 100px;
    margin: 0;
    color: #fff;
    background: #cd4535;
    border: none;
    padding: 10px;
    border-radius: 4px;
    border-bottom: 4px solid #b02818;
    transition: all .2s ease;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
  }
  
  .remove-image:hover {
    background: #c13b2a;
    color: #ffffff;
    transition: all .2s ease;
    cursor: pointer;
  }
  
  .remove-image:active {
    border: 0;
    transition: all .2s ease;
  }
  
  .image-input
  {
    margin-left:15px;
  }

  .align-center
  {
    text-align: center !important;
  } 

  .align-left
  {
    text-align: left !important;
  } 

  .align-right
  {
    text-align: right !important;
  } 

  .margin-center
  {
    margin:0px auto;
  }

  .padding-2
  {
    padding:2px !important;
  }

  .fa:hover
  {
    cursor: pointer;
    color:blue;
  }
  .add, .add-cat{
		display: none;
  }
  
  .fa
  {
  	z-index:1;
  }
  
  .opacity-0
  {
  	position:absolute;
  	margin:0px;
  	padding:0px;
  	opacity:0;
  	pointer-events: none; 
        cursor: default;     
  }
  
  .pip {
  display: inline-block;
  margin: 10px 10px 0 0;
}
.remove {
  display: block;
  background: blue;
  color: white;
  text-align: center;
  cursor: pointer;
}
.remove:hover {
  background: red;
  color: black;
}
  .display-none
  {
    display: none;
  }
