<!DOCTYPE html>
<html lang="en">

<head>

    <style>
        body {
            background-image: url("img/bg.jpg");
        }
        .new{
        	height: 100%;
        	width: 100%;

        }
        .bg1 {
  position: relative;
  text-align: center;
  color: white;
  background-image: url("images/11.jpg");

  /* Set a specific height */
  min-height: 500px;
   background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  width: 100%;
}

        .bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
  color: white;
}
.subheading{
	color:#ff9900;
}
.mb{
	position: absolute;
  bottom: 8px;
  left: 500px;
  color:#fdbe34;
}
.image-Holder{
  height: 100%
  width:1900px;
  background-color: #edea9a;
}
div.gallery {
  border: 1px solid #ccc;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}






.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.testimony{
  background-color: #eda41c;
  width:100%x;
  height: 100%;
}
.line1{
  text-align: center;
  color: black;
}
.person{
margin-left:300px;
margin-bottom: : 200px;
margin-right:300px;
margin-top: 50px; 
background: white;
padding: 1px;
position: relative;
border-radius: 25px;
width: 750px;
height: 150px;
}
.pic{

  position: relative;
  vertical-align: middle;
  width: 75px;
  height:75px;
  border-radius: 50%;
  margin-bottom: 1px;
  margin-left: 10px;
  margin-top: 10px
  
}
.abt{
  text-align: center;
  text-shadow: 2px 2px 5px #f7b839;
 margin-right: 100px;
 margin-left: 100px;
 margin-top: 10px;

}
@media only screen and (max-width: 769px) {
  .responsive {
    width: 100%%;
    margin: 6px 0;
  }
   .bg1{
    width:100%;
  }
  .testimony{
    width:100%;
  }
  .person{
    width:100%;
  }
}

@media only screen and (max-width: 320px) {
  .responsive {
    width: 50%;
  }
  .bg1{
    width: 100%;
   min-height: 100%;

  }
  .testimony{
    width:50%;
  }
  
  
}
        
    </style>


</head>

<body>
	<%- include('header'); %>
 <div class="bg1" data-stellar-background-ratio=0.5; >
          <h1 class="mb">About Us</h1>
  </div>

        <section class="breadcrumb breadcrumb_bg">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-12">
                        <div class="breadcrumb_iner">
                            <div class="breadcrumb_iner_item">
                                <p>Home / About Us</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    
    <section class="ftco-section ftco-no-pt ftco-no-pb">
    	<div class="container">
    		<div class="row d-flex no-gutters">
    			<div class="col-md-6 d-flex">
    				<div class="new" style="background-image:url('images/gro.jpg');">
    					<a href="https://vimeo.com/45830194" class="icon-video popup-vimeo d-flex justify-content-center align-items-center">
    						<span class="icon-play"></span>
    					</a>
    				</div>
    			</div>
    			<div class="col-md-6 pl-md-5">
    				<div class="row justify-content-start py-5">
		          <div class="col-md-12 heading-section ftco-animate pl-md-4 py-md-4">
		          	<span class="subheading" style="font-family: Times New Roman">WELCOME T0 RENT A DRESS </span>
		          	<h2 style="font-family: Times New Roman;">A Style For Every Story</h2>
        <hr><br>
		            
		            <p>Rent A Dress deals in wide range of girls and ladies wear items which includes designer & Party Wear Lehengas, Kurties, Evening gowns, Ball gowns, Sharara Dresses, Drape Sarees, Punjabi suits with matching jewellery and Bangles, Semi Stiched & Stiched party wear & Casual dresses and Party Wear & Casual wear Pant, Plazzos, Skirts, Sharara, Duppttas.Customer satisfaction is our first priority and all of you are welcomed in our shop.
We aspire to provide our customers a memorable shopping experience.</p>
		            <div class="tabulation-2 mt-4">
									<ul class="nav nav-pills nav-fill d-md-flex d-block">
									  <li class="nav-item mb-md-0 mb-2">
									    <a class="nav-link active py-2" data-toggle="tab" href="#home1">Our Mission</a>
									  </li>
									  <li class="nav-item px-lg-2 mb-md-0 mb-2">
									    <a class="nav-link py-2" data-toggle="tab" href="#home2">Our Vision</a>
									  </li>
									  <li class="nav-item">
									    <a class="nav-link py-2 mb-md-0 mb-2" data-toggle="tab" href="#home3">Our Value</a>
									  </li>
									</ul>
									<div class="tab-content bg-light rounded mt-2">
									  <div class="tab-pane container p-0 active" id="home1">
									  	<p>‘To inspire and connect with our clients to put their best selves forward every day.’</p>
									  </div>
									  <div class="tab-pane container p-0 fade" id="home2">
									  	<p>“To be an inspirational and trusted brand, transforming customers' lives through fashion and delightful shopping experience every time.”</p>
									  </div>
									  <div class="tab-pane container p-0 fade" id="home3">
									  	<p>We have a team of professional associates who strive endlessly to provide the best shopping experience to each of our customers. We have adopted a new philosophy of "Start Something New" to give retail a new dimension and innovation is our key driver to attain excellence in customer service.</p>
									  </div>
									</div>
								</div>
		          </div>
		        </div>
	        </div>
        </div>
    	</div>
    </section>

     <section class="ftco-counter" id="section-counter">
            <div>
                <div class="row">
                    <div class="col-md-6 col-lg-3 d-flex justify-content-center counter-wrap ftco-animate" height="20vh">
                        <div class="block-18 d-flex" height="150vh">
                            <div class="text d-flex align-items-center">
                                <strong class="number" data-number="50">0</strong>
                            </div>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <div class="text-2">
                            	<br><br>
                                <span>Years of <br>Experienced</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3 d-flex justify-content-center counter-wrap ftco-animate" height="20vh">
                        <div class="block-18 d-flex">
                            <div class="text d-flex align-items-center">
                                <strong class="number" data-number="150">0</strong>
                            </div>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <div class="text-2">
                            	<br><br>
                                <span>Stylesn for dresses present <br> in store</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6 d-flex justify-content-center counter-wrap ftco-animate" style="background-color: #fdbe34; height:20vh;">
                        <div class="block-18 d-flex">
                            <div class="text d-flex align-items-center">
                                <strong class="number" data-number="1000">0</strong>
                            </div>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <div class="text-2">
                            	<br><br>
                                <span>No.of dreams <br>fullfilled by us</span>
                            </div>
                        </div>
                    </div>
            </section>



            <section class="image-Holder" >

<div class="responsive" width="60vh" height="80vh">
  <div class="gallery" width="60vh" height="80vh">
    <a target="_blank" href="images/yellow_simplegown.jpg">
      <img src="images/yellow_simplegown.jpg" alt="Kurti" width="60vh" height="40vh">
    </a>
    <div class="desc">"Fashion is very important. It is life-enhancing and, like everything that gives pleasure, it is worth doing well.”</div>
  </div>
</div>

<div class="responsive" width="60vh" height="80vh">
  <div class="gallery" width="60vh" height="80vh">
    <a target="_blank" href="images/white_dup2.jpg">
      <img src="images/white_dup2.jpg" alt="Kurti" width="60vh" height="40vh">
    </a>
    <div class="desc">"The dress must follow the body of a woman, not the body following the shape of the dress."</div>
  </div>
</div>
<div class="responsive" width="60vh" height="80vh">
  <div class="gallery" width="60vh" height="80vh">
    <a target="_blank" href="images/white_simplegown.jpg">
      <img src="images/white_simplegown.jpg" alt="Kurti" width="60vh" height="40vh">
    </a>
    <div class="desc">"Fashion you can buy, but style you possess. The key to style is learning who you are."</div>
  </div>
</div>
<div class="responsive" width="60vh" height="80vh">
  <div class="gallery" width="60vh" height="80vh">
    <a target="_blank" href="images/green_simplegown.jpg">
      <img src="images/green_simplegown.jpg" alt="Kurti" width="60vh" height="40vh">
    </a>
    <div class="desc">"The hardest thing in fashion is not to be known for a logo, but to be known for a silhouette."</div>
  </div>
</div>

<div class="clearfix"></div>
            </section>





            <section class="testimony">
            	<center><br>
              <h5 class="line1">Testimonial</h5>
              <h1 class="line1"> Happy Clients</h1>
              <div class="person">
                <img src="images/person_1.jpg" alt="Avatar" style="border-radius: 50%" class="pic">
                <p class="abt">"Fashion is only the attempt to realize art in living forms and social intercourse.</p>
                
                  
            
              </div>
              <div class="person">
                <img src="images/person_2.jpg" alt="Avatar" style="border-radius: 50%" class="pic">
                <p class="abt">"Fashion is about dressing according to what’s fashionable. Style is more about being yourself." </p>
                
              </div>
</center>
            </section>
         
	
    			  <%- include('footer'); %>



        <!-- loader -->

<!--about us-->
<script src="js/jquery.min.js"></script>

        <script src="js/jquery-migrate-3.0.1.min.js"></script>

        <script src="js/jquery.waypoints.min.js"></script>
        <script src="js/jquery.stellar.min.js"></script>
        <script src="js/jquery.animateNumber.min.js"></script>
        <script src="js/owl.carousel.min1.js"></script>
        <script src="js/jquery.magnific-popup.min.js"></script>
        <script src="js/scrollax.min.js"></script>

        <script src="js/main2.js"></script>
        <script src="js/jquery-1.12.1.min.js"></script>
        <!-- popper js -->
        <script src="js/popper.min.js"></script>
        <!-- bootstrap js -->
        <script src="js/bootstrap.min.js"></script>
        <!-- easing js -->
        <script src="js/jquery.magnific-popup.js"></script>
        <!-- swiper js -->
        <script src="js/swiper.min.js"></script>
        <!-- swiper js -->
        <script src="js/mixitup.min.js"></script>
        <!-- particles js -->
        <script src="js/owl.carousel.min.js"></script>
        <script src="js/jquery.nice-select.min.js"></script>
        <!-- slick js -->
        <script src="js/slick.min.js"></script>
        <script src="js/jquery.counterup.min.js"></script>
        <script src="js/waypoints.min.js"></script>
        <script src="js/contact.js"></script>
        <script src="js/jquery.ajaxchimp.min.js"></script>
        <script src="js/jquery.form.js"></script>
        <script src="js/jquery.validate.min.js"></script>
        <script src="js/mail-script.js"></script>
        <!-- custom js -->
        <script src="js/custom.js"></script>

        
</body>

</html>