<!Doctype html>

<html lang="zxx">
<head>
    <link rel="stylesheet" href="css/index_slider.css">
        
</head>
<body>
    <%- include('header'); %> 
	
	  <div align="center">
   <img src="https://lh3.googleusercontent.com/N9ZjRqgIwf_R6s0RE7DFqVdpBQTQhrIstzvsErrNiX3DpSdTq99etU24fFlyquL2OC-n=w1366-h657-rw" style="width:80%; height: 70vh;">
  </div>
            <br>
            <div class="col-lg-6 col-md-6">
                <div class="login_part_form">
                    <div class="login_part_form_iner">
                        <form class="row contact_form" action="#" method="post" novalidate="novalidate">
                            <div class="col-md-12 form-group p_star">
                               <P>Your Name *</P>
                                <input type="text" class="form-control" id="name" name="name" value=""
                                    placeholder="Enter your full name" !important>
                            </div>
                            <div class="col-md-12 form-group p_star">
                            </p> Shop Name</p>
                                <input type="text" class="form-control" id="shopname" name="shopname" value=""
                                    placeholder="Enter shop name" !important>
                            </div>
							<div class="col-md-12 form-group p_star">
                            </p> Shop Number</p>
                                <input type="text" class="form-control" id="shopno" name="shopno" value=""
                                    placeholder="Enter shop number" !important>
                            </div>
                            <div class="col-md-12 form-group p_star">
                                <p>Address *</p>
                                <input type="text" class="form-control" id="address" name="address" value=""
                                    placeholder="Enter address" !important>
                            </div>
							
							<div class="col-md-12 form-group p_star">                 
                                       <p>City *</p>
                                       <input type="email" class="form-control" id="city" name="city" value=""
                                    placeholder="Enter your City" !important>
                                    </div>
                                    <div class="col-md-12 form-group p_star">
                                           <p>Pincode *</p>
                                           <input type="email" class="form-control" id="zipcode" name="zipcode" value=""
                                           placeholder="Enter your EPincode" !important>
                                        </div>

							<div class="col-md-12 form-group p_star">
                            </p> GSTIN Number</p>
                                <input type="text" class="form-control" id="gstin" name="gstin" value=""
                                    placeholder="Enter GST number" !important>
									</div>
									
                            <div class="col-md-12 form-group p_star">
                               <p>Phone no. *</p>
                                <input type="text" class="form-control" id="gstin" name="gstin" value=""
                                    placeholder="Enter Whatsapp  Number" !important>
                          
                            </div>
                            <div class="col-md-12 form-group p_star">
                                <p>Email Id *</p>
                                <input type="email" class="form-control" id="email" name="email" value=""
                                    placeholder="Enter your Email Id" !important>
                            </div>
                            
                                <br>
                                <button type="submit" value="submit" class="btn_3">
                                    SUBMIT
									
                                </button>
								
								
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        
</section>
<br>
  <!--::footer_part start::-->
  <%- include('footer'); %>
  <!--::footer_part end::-->




     