<!Doctype html>

<html lang="zxx">
<head>
    <link rel="stylesheet" href="css/index_slider.css">
        
</head>
<body>
    <%- include('header'); %> 
            
    <h1>UPLOAD IMAGE</h1>
    <div class="image-upload">
                <label for="file-input">
                  <img src="https://icon-library.net/images/upload-photo-icon/upload-photo-icon-21.jpg"/>
                  <img src="https://icon-library.net/images/upload-photo-icon/upload-photo-icon-21.jpg"/>
                  <img src="https://icon-library.net/images/upload-photo-icon/upload-photo-icon-21.jpg"/>
                  <img src="https://icon-library.net/images/upload-photo-icon/upload-photo-icon-21.jpg"/>
                  <img src="https://icon-library.net/images/upload-photo-icon/upload-photo-icon-21.jpg"/>            
                </label>
                
              
                <input id="file-input" type="file" />
              </div>     

            <div class="col-lg-6 col-md-6">
                <div class="login_part_form">
                    <div class="login_part_form_iner">
                        <form class="row contact_form" action="#" method="post" novalidate="novalidate">
                            <div class="col-md-12 form-group p_star">
                               <P>Your Name *</P>
                                <input type="text" class="form-control" id="fname" name="fname" value=""
                                    placeholder="Enter your full name" !important>
                            </div>
                            <div class="col-md-12 form-group p_star">
                            </p> Name of the designer / brand *</p>
                                <input type="text" class="form-control" id="lname" name="lname" value=""
                                    placeholder="Enter designer or brand name" !important>
                            </div>
                            <div class="col-md-12 form-group p_star">
                                <p>Year of purchase *</p>
                                <input type="text" class="form-control" id="email" name="email" value=""
                                    placeholder="Enter year of purchase" !important>
                            </div>
                            <div class="col-md-12 form-group p_star">
                               <p>Size *</p>
                                <input type="text" class="form-control" id="phone" name="phone" value=""
                                    placeholder="Phone Number" !important>
                            </div>
                            <div class="col-md-12 form-group p_star">
                                <p>Purchaase Cost *</p>
                                <input type="text" class="form-control" id="address" name="address" value=""
                                    placeholder="Enter Purchase Cost" !important>
                            </div>
                            <div class="col-md-12 form-group p_star">
                                <p>Mobile Number *</p>
                                <input type="text" class="form-control" id="uname" name="uname" value=""
                                    placeholder="Enter Mobile Number" !important>
                            </div>
                            <div class="col-md-12 form-group p_star">
                                <p>Email Id *</p>
                                <input type="email" class="form-control" id="password" name="password" value=""
                                    placeholder="Enter your Email Id" !important>
                            </div>
                            <div class="col-md-12 form-group p_star">
                                   <p>Pickup Address *</p>
                                   <input type="email" class="form-control" id="password" name="password" value=""
                                   placeholder="Enter Pickup Address" !important>  
                                </div>
                                <div class="col-md-12 form-group p_star">                 
                                       <p>City *</p>
                                       <input type="email" class="form-control" id="password" name="password" value=""
                                    placeholder="Enter your City" !important>
                                    </div>
                                    <div class="col-md-12 form-group p_star">
                                           <p>Pincode *</p>
                                           <input type="email" class="form-control" id="password" name="password" value=""
                                           placeholder="Enter your EPincode" !important>
                                        </div>
                                <button type="submit" value="submit" class="btn_3">
                                    SUBMIT
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
  <!--::footer_part start::-->
  <%- include('footer'); %>
  <!--::footer_part end::-->




     